@import url("reset.css");


body {
   
    line-height: 1.6;
}

h3,
h4,
p {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }



body, html {
    width: 100%;
    height: 100%;
}


.image {                   /*  Image container  */
    
    display: flex;
    justify-content: center;
    align-items: center;
   
  
}
 .optimus {                /*   Image  */
    height: 180px;
    width: 200px;
    border-radius: 50%;
    border: solid rgb(163, 49, 49)
 }

.container {
    /* background-color:#171A20; */
    border: 5px solid 	#E31937;
    color: #bfbfbf;
    margin: auto; /* Adds spacing around the card */ 
    min-width: 245px;
     width: 80%;    /*means 80% the size of it parent */
    padding: 1rem;  
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    align-items: center;
    justify-content: space-between;
   
  
}

.detailscontainer {
    /* background-color: #E31937; */
    /* border: 3px solid purple; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    min-height: 200px;
    
}

.contact-details {
    /* background-color: green; */

}

.company-name {
   text-align: center;
    /* background-color: yellow; */
 } 



 @media only screen and (min-width: 500px) and (max-width: 751px) {    

    .container {
       width: 50%;
    }

    .detailscontainer {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start; /* Align content at the top */
        min-height: 50px;
        
        
}

.company-name {
    align-content: flex-start;
   text-align: center;
   margin-left: 1rem; /* Add space to the left of the company name */
   padding-top: 0rem;
        
 }

 
 }



 @media (min-width: 752px) {

    .container {
       
        flex-direction: row;
        margin: auto;
        max-width: 610px;
       
      

      
    }

    .detailscontainer {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
         justify-content: space-around;
        align-items: center; /* Align content at the top */
        text-align: center;

    }

        .company-name {
            align-content: flex-start;
           text-align: center;
           margin-left: 0rem;
           padding-top: 1rem;
           
         }
        
      
          
        
  


}

